
$font-color: #3f51b5;

$font-secondary : #9da6d9;

@keyframes opacity {
    0% {
        opacity:1;
    }
    17% {
        opacity:1;
    }
    25% {
        opacity:0;
    }
    92% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}
